/* selector {
  property: value;
  property: value;
} */ 
 /* Basic structure of CSS */

body {
    /* background: linear-gradient(direction, color1, color2); */
    background: linear-gradient(to bottom, #380079, #000000);
    min-height: 100vh;
    margin: 0;
}

h1{
    text-align: center;
}


.Container{
    position : relative;
    top: 50px;
    width: 1000px;
    height: 800px;
    background : linear-gradient(to bottom, rgb(91, 0, 171), rgb(0, 0, 0));
    border-radius: 100px;
    margin : 100px auto;
    border: rgb(0, 0, 0) 2px solid;
    box-shadow: 0 0 20px white;
}

h1{
    position: relative;
    top : 50px;
    left: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 50px;
    color: white;
    text-shadow: rgb(0, 0, 0) 0 0 13px;
}

h4{
    position: relative;
    top : 0px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0 0 10px;
}

.login{
    position: relative;
    top : 100px;
    left: 350px;
}

.login input{
    position: relative;
    right : 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
    height: 40px;
    background : rgb(93, 0, 155);
    border-radius: 30px;
    /* border: none; */
    padding: 10px;
    font-size: 20px;
    color: rgb(148, 142, 142);
} 

.password{
    position: relative;
    top : 100px;
    left: 350px;
}
.password input{
    position: relative;
    top : 20px;
    right : 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
    height: 40px;
    background : rgb(93, 0, 155);
    border-radius: 30px;
    color: rgb(148, 142, 142);
    /* border: none; */
    padding: 10px;
    font-size: 20px;
}

button {
    position: relative;
    top: 30px;                  
    right: 300px;        
    width: 330px;
    height: 60px;
    background: rgb(93, 0, 155); 
    border-radius: 30px;         
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* color: white;*/
    color: rgb(148, 142, 142);
    cursor: pointer;
    /* transition: background 0.3s, transform 0.2s; */
}
