/* /* selector {
  property: value;
  property: value;
} */ 
 /* Basic structure of CSS */

body {
    background: linear-gradient(to bottom, #380079, #000000);
    min-height: 100vh;
    margin: 0;
}

h1{
    text-align: center;
}


.Container{
    position : relative;
    top: 50px;
    width: 1000px;
    height: 800px;
    background : linear-gradient(to bottom, rgb(91, 0, 171), rgb(0, 0, 0));
    border-radius: 100px;
    margin : 100px auto;
    border: rgb(0, 0, 0) 2px solid;
    box-shadow: 0 0 20px white;
}

h1{
    position: relative;
    top : 50px;
    left: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 50px;
    color: white;
    text-shadow: rgb(0, 0, 0) 0 0 13px;
}

h4{
    position: relative;
    top : 0px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0 0 10px;
}

.login{
    position: relative;
    top : 100px;
    left: 350px;
}

.login input{
    position: relative;
    right : 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
    height: 40px;
    background : rgb(93, 0, 155);
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    color: #b47cff;   
} 

.password{
    position: relative;
    top : 100px;
    left: 350px;
}
.password input{
    position: relative;
    top : 20px;
    right : 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
    height: 40px;
    background : rgb(93, 0, 155);
    border-radius: 30px;
    color: #b47cff;
    padding: 10px;
    font-size: 20px;
}

button {
    position: relative;
    top: 30px;                  
    right: 300px;        
    width: 330px;
    height: 60px;
    background: rgb(93, 0, 155); 
    border-radius: 30px;         
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #b47cff;   
    cursor: pointer;
}

p {
    margin-top: 30px;
    font-size: 14px;
    color: #d0c8e0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top : 30px;
    left: -270px;
}

p a {
    color: #b47cff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, text-shadow 0.3s;
}

p a:hover {
    color: #e0c7ff;
    text-shadow: 0 0 8px rgba(180, 124, 255, 0.8);
}

.other-login {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #e0c7ff;
    text-shadow: 0 0 8px rgba(180, 124, 255, 0.8);
    position: relative;
    top: -590px; 
    left : 200px;
}

.other-login::before {
    content: "";
    position: absolute;
    top: 80%;
    left: 1000px;
    width: 4%;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(-50%);
}
.other-login::after {
    content: "";
    position: absolute;
    top: 80%;
    right: 1000px;
    width: 4%;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(-50%);
}