/* selector {
  property: value;
  property: value;
} */ 
 /* Basic structure of CSS */

body {
    /* background: linear-gradient(direction, color1, color2); */
    background: linear-gradient(to bottom, #380079, #000000);
    min-height: 100vh;
    margin: 0;
}

h1{
    text-align: center;
}


.Container{
    text-align: center;
    width: 400px;
    padding: 250px;
    background : linear-gradient(to bottom, rgb(91, 0, 171), rgb(0, 0, 0));
    border-radius: 100px;
    margin : 100px auto;
    border: rgb(0, 0, 0) 2px solid;
    box-shadow: 0 0 20px white;
}

h4{
    position: relative;
    top : -200px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 30px;
    color: white;
    text-shadow: rgb(94, 94, 94) 0 0 5px;
}