/* selector {
  property: value;
  property: value;
} */ 
 /* Basic structure of CSS */

body {
    /* background: linear-gradient(direction, color1, color2); */
    background: linear-gradient(to bottom, #380079, #000000);
    min-height: 100vh;
    margin: 0;
}

h1{
    text-align: center;
}


.Container{
    position : relative;
    top: 50px;
    width: 1000px;
    height: 800px;
    background : linear-gradient(to bottom, rgb(91, 0, 171), rgb(0, 0, 0));
    border-radius: 100px;
    margin : 100px auto;
    border: rgb(0, 0, 0) 2px solid;
    box-shadow: 0 0 20px white;
}

h1{
    position: relative;
    top : 50px;
    left: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 50px;
    color: white;
    text-shadow: rgb(0, 0, 0) 0 0 13px;
}

h4{
    position: relative;
    top : 0px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0 0 10px;
}

.login{
    position: relative;
    top : 100px;
    left: 350px;
}

/* .login input{
    background: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0 0 13px;
}  */

.password{
    position: relative;
    top : 130px;
    left: 350px;
}