body{
    background-color: #121212;
    color: #ffffff;
    font-family: monospace;
}

.head_page{
    border: 1px solid #444;
    padding: 16px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
    margin-bottom: 24px;
    background-color: #1a1a1a;
    max-width: 1215px;
    width: 100%;
}

.board-container {
    display: flex;
    gap: 24px;
    padding: 24px;
    border: 1px solid #444;
    background-color: #1a1a1a;

    /* Control the overall container width */
    max-width: 1200px;     /* Prevents it from getting too wide on huge screens */
    width: 100%;           /* Allows it to shrink responsively on smaller screens */
    margin: 0 auto;        /* Centers the container horizontally on the page */
}